extends layout

block content
    script(src="/javascripts/utils.js")
    h1= title
    img()
    div
        a(href=`${dropbox.auth.getAuthenticationUrl(`${url}/users/auth`)}`) 
            button Dropbox
        a(href=`${dropbox.auth.getAuthenticationUrl(`${url}/users/auth`)}`) 
            button Google

    div
        a(href=`/pricing`) Pricing 
        a(href=`/privacy`) privacy
        a(href=`/terms-of-service`) Terms of Service

    script. 
        const setCookie = async (cookie) => {
            const response = await fetch(`${location.protocol}//${window.location.host}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }, 
                body: JSON.stringify(cookie)
            })
            
            return response.json()
        }

        let token = utils.parseQueryString(location.hash).access_token

        if (token) {
            const cookie = {
                name: 'dbx-token',
                value: token
            }
              
            setCookie(cookie)
                .then((response) => {
                    console.log(response)
                })
                .catch((error) => {
                    console.log(error)
                })
        } 
